.banner-container {
    width: 100%;
    background-color: #ffcc00;
    margin: 0;
  }
  
  .banner-content {
    display: flex;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    animation: scroll-banner 10s linear infinite;
    margin: 0;
    padding-top: 15px;
   
  }

  
  @keyframes scroll-banner {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  