:root {
    --blue: #3452A3;
    --white: #fff;
    --light-blue: #8f9fc9;
    --dark-blue: #2c3e50;
    --dark-gray: #2c3e50;
    --light-gray: #ecf0f1;
    --gray: #CDCDCD;
    --red: #963554;
}

/* header */
/* Stile generale per l'header */
header {
    background-color: var(--red);
}

.icon_bars {
    color: white;
    border-radius: 25%;
    border-color: white;
}

/*Badge per le notifiche (wishlist e carrello) */
.notification-badge {
    position: absolute;
    top: -5px;
    /* Posiziona il badge sopra l'icona */
    right: -5px;
    /* Posiziona il badge a destra dell'icona */
    background: red;
    /* Sfondo rosso */
    color: white;
    /* Numeri in bianco */
    font-size: 12px;
    /* Dimensione del testo */
    font-weight: bold;
    /* Testo in grassetto */
    padding: 4px 6px;
    /* Spaziatura interna */
    border-radius: 50%;
    /* Forma circolare */
    min-width: 20px;
    /* Larghezza minima */
    height: 20px;
    /* Altezza */
    display: flex;
    /* Centra il contenuto */
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra orizzontalmente */
    line-height: 1;
    /* Altezza della linea */
    z-index: 10;
    /* Porta il badge sopra le icone */
}

/* Contenitori per wishlist e carrello */
.icon-wishlist-container,
.icon-cart-container {
    position: relative;
    /* Necessario per posizionare il badge rispetto al contenitore */
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Stile per le icone (wishlist e carrello) */
.icon-wishlist-container i.fa-heart,
.icon-cart-container i.fa-cart-shopping {
    font-size: 1.5rem;
    /* Dimensione uniforme per entrambe le icone */
    transition: transform 0.3s ease, color 0.3s ease;
    /* Transizione fluida per trasformazioni e colore */
}

/* Effetto hover per le icone */
.icon-wishlist-container i.fa-heart:hover,
.icon-cart-container i.fa-cart-shopping:hover {
    transform: scale(1.2);
    /* Ingrandisce leggermente l'icona */
}

/* Colore hover specifico */
.icon-wishlist-container i.fa-heart:hover {
    color: red;
    /* Cambia il colore al passaggio del mouse */
}

.icon-cart-container i.fa-cart-shopping:hover {
    color: green;
    /* Cambia il colore al passaggio del mouse */
}

.custom-heart {
    color: white;
    transition: color 0.3s ease;
}

.custom-cart {
    color: white;
    transition: color 0.3s ease;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}

#root {
    background-color: var(--gray);
}

main {
    padding-top: 100px;
}

/*INIZIO TITOLO*/
.font {
    font-family: "Black Ops One", system-ui;
    font-weight: 700;
    font-style: normal;
    color: transparent;
    background: linear-gradient(90deg, var(--blue), var(--red), var(--light-blue));
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 20px 0;
    margin: 20px auto;
    width: 100%;
    font-size: 4rem;
    animation: gradientAnimation 5s infinite linear;
    position: relative;
    overflow: hidden;
}

.font-nav-header{
    font-family: "Black Ops One", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem;
    color: white;
}

.font::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 70%);
    opacity: 0.6;
    filter: blur(50px);
    z-index: -1;
    animation: pulseEffect 4s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulseEffect {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.9;
    }
}

/*FINE TITOLO*/

/*INIZIO CATEGORIE H2*/
.category-title {
    font-family: "Black Ops One", system-ui;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--blue);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
}
.category-title-riep {
    font-family: "Black Ops One", system-ui;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blue);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
}

.category-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: var(--blue);
    margin: 10px auto 0;
    border-radius: 2px;
}

/*FINE CATEGORIE H2*/

/*INIZIO H3*/
.category-subtitle {
    font-family: "Black Ops One", system-ui;
    font-size: 2rem;
    color: var(--dark-blue);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
}

/*FINE H3*/

/* INIZIO BOTTONI*/
.category-button {
    background: none;
    /* Rimuove lo sfondo */
    color: var(--white);
    border: 2px solid var(--white);
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}

.category-button:hover {
    background: var(--white);
    color: var(--red);
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.footer-button {
    font-family: "Black Ops One", system-ui;
    font-size: 3rem;
    color: var(--red);
    /* Colore del testo bianco */
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 2px solid var(--white);
    /* Bordo bianco */
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.footer-button:hover {
    background: var(--white);
    /* Sfondo bianco al passaggio del mouse */
    color: var(--red);
    /* Testo rosso al passaggio del mouse */
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/*FINE BOTTONI*/

/*INIZIO FOOTER*/
.footer-container {
    background-color: #2c3e50;
    color: var(--light-gray);
}

.footer-title {
    font-family: "Black Ops One", system-ui;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.footer-link {
    color: var(--light-gray);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--blue);
}

.footer-social-link {
    color: var(--light-gray);
    transition: color 0.3s ease;
}

.footer-social-link:hover {
    color: var(--blue);
}

/*FINE FOOTER*/

/* btn navbar */
.navbar-toggler:hover,
.navbar-toggler-icon:hover {
    color: white !important;

}

ul {
    list-style-type: none !important;
}

li:hover {
    color: gray;
}

/* logo */
nav a img {
    transition: transform 0.5s ease;

}

nav a img:hover {
    transform: rotate(360deg);

}

.nav-link:hover,
.nav-link:active {
    color: rgb(214, 214, 214) !important;
    /* text-decoration: underline; */
    transition: color 0.3s ease;
}

.underline {
    border-bottom: 4px solid var(--white);
    width: 100%;
}

/* card */
a {
    text-decoration: none;
    color: black;
}

.imgBox-dimension {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 5px;
}

.imgBox-dimension img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.imgBox:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
    transform: zoom(1.4);


    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.boxImgProduct {
    padding: 3rem 3rem;
    object-fit: contain;
    border-radius: 10px;
}

.categoryCard {
    width: 95%;

}

.categoryCard {
    width: 95%;

}

/* list card */
.listImg {
    height: 50%;
}

/* Posizionamento dell'icona del cuore */
.heart-icon {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 2vw;
    color: gray;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s;
}

/* Posizionamento dell'icona del carrello */
.cart-icon {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2vw;
    color: gray;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s;
}

/* Cambia colore al passaggio del mouse */
.cart-icon:hover,
.heart-icon:hover {
    color: green;
}

.boxlogoImgProduct {
    width: 60%;
    margin-left: 19%;
    object-fit: cover;
    border-radius: 10px;
    /* height: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.boxlogoImgProduct:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    transform: zoom(1.4);

    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
    .boxlogoImgProduct {
        display: none;
    }
}

/* btn visualizzazione griglia lista */
.btn-pink {
    background-color: var(--red);
    border: 1px solid var(--red);
    color: var(--white);
}

.input-group-text {
    font-size: 0.875rem;
    /* Riduci la dimensione del testo */
    padding: 0.375rem 0.75rem;
    /* Riduci il padding */
}

.badge.bg-danger {
    font-size: 1rem;
    /* Riduci la dimensione del badge */
    padding: 0.25rem 0.5rem;
    /* Riduci il padding interno */
}

.strike-through {
    position: relative;
    display: inline-block;
}

.strike-through::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    /* Altezza della linea */
    background-color: rgba(255, 255, 255, 0.8);
    /* Bianco meno trasparente */
    transform: translateY(-50%);
    /* Posiziona la linea orizzontale al centro */
}


.banner-container {
    width: 100%;
    overflow: hidden;
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 0;
    position: relative;
    text-align: center;
}

.banner-content {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: bold;
    animation: scrollBanner 30s linear infinite;
}

.text {
    display: inline-block;
    padding: 0 2rem;
}

@keyframes scrollBanner {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* order recap */
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group-text {
    flex: 1;
    text-align: right;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}