:root {
    --blue: #3452A3;
    --white: #fff;
    --light-blue: #8f9fc9;
    --dark-blue: #2c3e50;
    --dark-gray: #2c3e50;
    --light-gray: #ecf0f1;
    --gray: #CDCDCD;
    --red: #963554;
}

/* main {
    background-color: var(--light-blue);
} */

/* header */
header {
    background-color: var(--red);
}

#root {
    background-color: var(--gray);

}




/* btn navbar */
.navbar-toggler:hover,
.navbar-toggler-icon:hover {
    color: white !important;

}

ul {
    list-style-type: none !important;
}

li:hover {
    color: gray;
}

/* logo */
nav a img {
    transition: transform 0.5s ease;

}

nav a img:hover {
    transform: rotate(360deg);

}

.nav-link:hover,
.nav-link:active {
    color: grey !important;
    /* text-decoration: underline; */
    transition: color 0.3s ease;
}

/* card */
a {
    text-decoration: none;
}

.imgBox-dimension {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 5px;
}

.imgBox-dimension img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.imgBox:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
    transform: zoom(1.4);


    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.boxImgProduct {
    padding: 3rem 3rem;
    object-fit: contain;
    border-radius: 10px;
}

.categoryCard {
    width: 95%;

}

.categoryCard {
    width: 95%;

}

/* Posizionamento dell'icona del cuore */
.heart-icon {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 2vw;
    color: gray;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s;
}

/* Posizionamento dell'icona del carrello */
.cart-icon {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2vw;
    color: gray;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s;
}

/* Cambia colore al passaggio del mouse */
.cart-icon:hover,
.heart-icon:hover {
    color: green;
}

.boxlogoImgProduct {
    width: 60%;
    margin-left: 19%;
    object-fit: cover;
    border-radius: 10px;
    /* height: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.boxlogoImgProduct:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    transform: zoom(1.4);

    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
    .boxlogoImgProduct {
        display: none;
    }
}