:root {
    --blue: #3452A3;
    --white: #fff;
    --light-blue: #8f9fc9;
}

/* main {
    background-color: var(--light-blue);
} */

/* header */
header {
    background-color: var(--blue);
}

#root {
    background-color: var(--light-blue);

}




/* btn navbar */
.navbar-toggler:hover,
.navbar-toggler-icon:hover {
    color: white !important;

}

ul {
    list-style-type: none !important;
}

li:hover {
    color: gray;
}

/* logo */
nav a img {
    transition: transform 0.5s ease;

}

nav a img:hover {
    transform: rotate(360deg);

}

.nav-link:hover,
.nav-link:active {
  color: green !important; /* Cambia il colore del testo al passaggio del mouse */
    text-decoration: underline; /* Aggiunge una riga sottolineata */
    transition: color 0.3s ease; /* Aggiunge una transizione fluida */
}

/* card */
a {
    text-decoration: none;
}

.imgBox:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    transform: zoom(1.4);
   
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.boxImgProduct {
    width: 60%;
    margin-left: 19%;
    object-fit: cover;
    border-radius: 10px;
}

    .categoryCard {
        width: 95%;
         
    }

/* Posizionamento dell'icona del cuore */
.heart-icon {
    position: absolute;
    top: 2%; 
    left: 2%; 
    font-size: 2vw; 
    color: gray;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s;
}

/* Posizionamento dell'icona del carrello */
.cart-icon {
    position: absolute;
    top: 2%; 
    right: 2%;
    font-size: 2vw;
    color: gray;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s;
}

/* Cambia colore al passaggio del mouse */
.cart-icon:hover,
.heart-icon:hover {
    color: green;
}