:root {
    --blue: #3452A3;
    --white: #fff;
    --light-blue: #8f9fc9;
}

main {
    background-color: var(--light-blue);
}

/* header */
header {
    background-color: var(--blue);
}

/* btn navbar */
.navbar-toggler:hover,
.navbar-toggler-icon:hover {
    color: white !important;

}

ul {
    list-style-type: none !important;
}

li:hover {
    color: white;
}

/* logo */
nav a img {
    transition: transform 0.5s ease;

}

nav a img:hover {
    transform: rotate(360deg);

}

/* card */
a {
    text-decoration: none;
}