:root {
    --blue: #3452A3;
    --white: #fff;
    --light-blue: #8f9fc9;
}

/* header */
header {
    background-color: var(--blue);
}

#root {
    background-color: var(--light-blue);

}




/* btn navbar */
.navbar-toggler:hover,
.navbar-toggler-icon:hover {
    color: white !important;

}

ul {
    list-style-type: none !important;
}

li:hover {
    color: white;
}

/* logo */
nav a img {
    transition: transform 0.5s ease;

}

nav a img:hover {
    transform: rotate(360deg);

}

/* card */
a {
    text-decoration: none;
}

.imgBox:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    transform: zoom(1.4);
}

.boxImgProduct {
    width: 60%;
    margin-left: 19%;
    object-fit: cover;
    border-radius: 10px;

}